#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-image: url(assets/background.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.myList {
  list-style-type: none;
  padding: 0;
}

.myListItem a {
  color: rgb(0, 128, 255);
}

.member-card img,
.new-member img {
  width: 450px;
}